 <table>
      <tr>
        <th width="60">题型</th>
        <th width="400">题面</th>
        <th width="150">操作</th>
        <th width="80">知识卡片</th>
      </tr>
      <% @questions.each do |question| %>
        <tr>
          <td><%= Question::TYPES[question.types] %></td>
          <td><%= render :partial => "#{Question::TYPE_NAMES.invert[question.types]}", :locals => {:question => question} %></td>
          <td>
            <%= link_to "编辑", view_round_question_path(@round.id,question.id), :remote => true, :class => "green_btn passEdit" %>
            <%= link_to "删除题目", round_question_path(question.round_id, question), :method => :delete, :confirm => "确认删除题目吗?", :class => "green_btn" %>

          </td>
          <td>
            <% if question.knowledge_card.present? %>
              <div class="question_<%= question.id %>">
                <%= link_to "知识卡片", edit_course_knowledge_card_path(@course, question.knowledge_card)+"?question_id=#{question.id}", :remote => true, :class => "knowledgeCard green_btn"%>
              </div>
            <% end %>

          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @questions, :previous_label => "上一页",:next_label => "下一页" %>

<script type="text/javascript">
<%  if controller.action_name !="index" %>
    $(document).ready(function(){
      $(".pagination a").unbind("click");
      $(".pagination a").bind("click", function() {
        var url = this.href + "&question_types="+$("#question_types").val();
        $.ajax({
          async:true,
          url:url,
          dataType:"script",
          type:"POST",
          success:function(){
            // alert(1);
          },error:function(){
            // alert("error");
          }
        });
        return false;
      });

    });
<% end %>
</script>