<label>导入题库:</label>
<%= form_tag({:action => :uploadfile}, :multipart => true ,:remote => "true" ) do %>
    <div class="fileBox" style="width:300px;">
      <input type="text" class="fileText_1" />
      <input type="button" class="fileBtn_1 green_btn" value="浏览..." />
      <input type="file" class="file_1" />
      <%= file_field_tag 'file', :onchange => "handleUpload(this);file_validate(this);", :class => "file_1" %>
    </div>
    <button id="btn_upload" class="green_btn" type="submit" disabled="true" onchange="file_validate(this)" >上 传</button>
    <input type="hidden" name="course_id" value="<%= @course.id %>" />
    <input type="hidden" name="chapter_id" value="<%= @chapter.id %>" />
    <input type="hidden" name="round_id" value="<%= @round.id %>" />
<% end %>