<div class="wrap">
  <%= render "/shared/head" %>
  <div class="main">
    <h1><%= link_to @course.name, course_chapters_path(@course.id) %>><%= link_to @chapter.name, course_chapter_rounds_path(@course.id, @chapter.id) %>><span class="round_name"><%= @round.name %></span></h1>
    <div class="m_con">
      <div class="pass_head">
        <div id="upload_bar">
          <%= render :partial => 'uploadzip' %>
        </div>
        <div id="error_bar" style="width:100%; height:auto;">
          <% render :partial => 'error_infos'%>
        </div>
        <div class="passInfo con_box" id="round_detail">
          <%= render "rounds/detail" %>
        </div>
      </div>
      <div>
        <div class="searchDiv cf">
          <%= form_for :tag, :url => search_round_questions_path(@round), :method => :post, :remote => true do |f|%>
            <div>
              <span>题型：</span>
              <select name="question_types" id="question_types">
                <option value="">请选择题型</option>
                <% Question::TYPES.each do |k, v| %>
                  <option value="<%= k %>"><%= v %></option>
                <% end %>
              </select>
              <%= button_tag "查询", :type => "submit", :class => "green_btn" %>
            </div>
          <% end %>
        </div>


        <div class="qstDiv question_list">
          <%= render "question_list" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="second_bg"></div>
<div class="second_box">
  <div style="display: none"  class="second_content round_container">
    <span class="close">关闭</span>
    <div class="second_view" id="round_container">
    </div>
  </div>
</div>

<div class="second_bg"></div>
<div class="second_box">
  <div style="display: none"  class="second_content knowledge_card_container">
    <span class="close">关闭</span>
    <div class="second_view" id="knowledge_card_container">
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $('.submit_btn').hide();
    })
</script>