<%= form_for [@course, @prop], :html => {:id => "propForm"}, :remote => true do |f| %>
  <div>
    <label class="required" >名称：</label>
    <%= f.text_field :name, :required => true  %>
  </div>
  <div>
    <label class="required" >描述：</label>
    <%= f.text_area :description, :required => true  %>
  </div>
  <div>
    <label class="required" >类型：</label>
    <%= f.select :types, Prop::TYPES.invert, {:prompt => "请选择类型"}, {:required => true}  %>
  </div>
  <div>
    <label class="required">金币：</label>
    <%= f.text_field :price, :required => true, :digits => true %>
  </div>
  <div>
    <label class="<%= @prop.new_record? ? "required" : "" %>">图片：</label>
    <% if(@prop.new_record?) %>
      <%= f.file_field :img, :required => true %>
    <% else %>
      <%= f.file_field :img %>
    <% end %>
  </div>
  <div>
    <label class="required">适合题型：</label>

    <% Question::TYPES.each do |value, name| %>
      <% check = @prop.question_types.nil? ? false : @prop.question_types.split(",").map(&:to_i).include?(value) %>
      <%= check_box_tag "prop[question_types][]", value, check,  :required => true %><%= name %>
    <% end %>

  </div>
  <div>
    <%= submit_tag "提交" %>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    $('label.required').append('&nbsp;<strong>*</strong>&nbsp;');

    $("#propForm").validate();  //课程表单验证
  })
</script>