<%= form_for [@course, @prop], :html => {:id => "propForm"}, :remote => true do |f| %>
  <div class="form_row">
    <label class="required label" >名称：</label>
    <%= f.text_field :name, :required => true  %>
  </div>
  <div class="form_row">
    <label class="required label" >描述：</label>
    <%= f.text_area :description, :required => true, :rows => "5"  %>
  </div>
  <div class="form_row">
    <label class="required label">金币：</label>
    <%= f.text_field :price, :required => true, :digits => true %>
  </div>
  <div class="form_row">
    <label class="required label" >类型：</label>
    <%= f.select :types, Constant::PROP_QUESTION_TYPES.invert, {:prompt => "请选择类型"}, {:required => true}  %>
  </div>
  <div class="form_row">
    <label class="required label">适合题型：</label>
    <div class="prop_question_type">
      <% Constant::QUESTION_TYPES.each do |value, name| %>
        <% check = @prop.question_types.nil? ? false : @prop.question_types.split(",").map(&:to_i).include?(value) %>
        <%= check_box_tag "prop[question_types][]", value, check,  :required => true, :id => "prop_#{value}" %><%= name %>
      <% end %>
    </div>
  </div>
  <div class="form_row">
    <label class="label <%= @prop.new_record? ? "required" : "" %>">图标：</label>
    <div class="fileBox">
      <input type="text" name="temp_input" class="fileText_1" />
      <input type="button" class="fileBtn_1 green_btn" value="浏览..." />
    <% if(@prop.new_record?) %>
      <%= f.file_field :img, :class => "file_1", :required => true, :onchange => "handleUpload(this)" %>
    <% else %>
      <%= f.file_field :img, :class => "file_1", :onchange => "handleUpload(this)" %>
    <% end %>
    </div>
  </div>
  <div class="form_row">
    <label class="label">&nbsp;</label>
    <%= button_tag "提交", :type => "submit", :class => "green_btn", :onclick => "return checkFilesize('prop_img');" %>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    $('label.required').append('&nbsp;<strong>*</strong>&nbsp;');

    $("#propForm").validate();  //课程表单验证
  })
</script>