<div class="wrap">
  <%= render "/shared/head" %>
  <div class="main">
    <h1><%= link_to @course.name, course_chapters_path(@course.id) %>><%= link_to @chapter.name, course_chapter_rounds_path(@course.id, @chapter.id) %></h1>

    <div class="m_con">
      <div id="passUp">
        <%= render 'uploadzip' %>
      </div>

      <% @rounds.each do |round| %>
        <div class="passList">
          <div class="pass_box con_box cf">
            <%= link_to "删除", course_chapter_round_path(@course, @chapter, round), :method => :delete, :confirm => "删除关卡将删除关卡所有相关记录，确认删除吗？", :class => "close", :title => "删除" %>

            <label title="<%= round.name %>"><%= round.name.truncate(8, separator: ' ') %></label>
            <p class="passEnter">题目数量：<%= round.questions_count || 0 %></p>
            <p class="passEnter">是否通过审核：<span><%= Course::STATUS_NAME[round.status] %></span>
              <%= verify_button(round) if round.status==0 %></p>
            <br/>
            <%= link_to "进入关卡", round_questions_path(round),:class => "green_btn passEnter" %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="second_bg"></div>
<div class="second_box">
  <div style="display: none"  class="second_content">
    <span class="close">关闭</span>
    <div class="second_view" id="round_container">
    </div>
  </div>
</div>