<div class="wrap">
  <%= render "/shared/head" %>

  <div class="main">
    <h1><a>用户中心</a>><span>用户详情</span></h1>
    <div class="m_con">
      <div class="userInfo2">
        <%= image_tag @user.img %>
        
        <dl>
          <dd>昵称</dd><dt><%= @user.name %></dt>
          <dd>邮箱</dd><dt><%= @user.email %></dt>
        </dl>
      </div>

      <table>
        <tr>
          <th>课程名</th>
          <th>用户等级</th>
          <th>金币</th>
          <th>卡包</th>
          <th>道具</th>
          <th>成就点数</th>
        </tr>
        <% @courses.each do |course|   %>
        <tr>
          <td><%= course.cname %></td>
          <td><%= course.level %></td>
          <td><%= course.gold %></td>
          <td><%= course.cardbag_left_count %></td>
          <td><%= Prop.my_props(@user.id,course.cid).map(&:name).join("、") %></td>
          <td><%= course.achieve_point %></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>