<div class="wrap">
  <%= render "/shared/head" %>
  <div class="main">
    <h1><%= link_to @course.name, course_chapters_path(@course.id) %>> 标签、道具、章节</h1>
    <div class="m_con">
      <%= render "/shared/course_head" %>
      <div class="clear"></div>
      <div class="set_btn cf"><%= link_to "添加标签", new_course_cardbag_tag_path(@course), :remote => true, :class =>"green_btn" %></div>

      <div class="searchDiv cf" style="width:88%;padding-bottom: 10px">
        <%= form_for :tag, :url => search_course_cardbag_tags_path(@course), :method => :post, :remote => true do |f|%>
          <span>名称：</span>
          <input type="text" name="tag_name" id="search_tag"/>
          <%= button_tag "查询",:type => "submit", :class => "green_btn" %>
        <% end %>
      </div>

      <div class="tag_list">
        <%= render "tag_list" %>
      </div>
    </div>
  </div>
</div>


<div class="second_bg"></div>
<div class="second_box">
  <div style="display: none" class="second_content">
    <span class="close">关闭</span>
    <div class="second_view" id="tag_container">
    </div>
  </div>
</div>
