<%= render "/shared/course_head" %>

<%= link_to "添加标签", new_course_cardbag_tag_path(@course), :remote => true %>

<%= form_for :tag, :url => search_course_cardbag_tags_path(@course), :method => :post, :remote => true do |f|%>
  <div>
    <label>名称：</label>
    <input type="text" name="tag_name" id="search_tag"/>
    <%= submit_tag "查询" %>
  </div>
<% end %>
<ul class="tag_list">
  <%= render "tag_list" %>
</ul>
<div style="display: none" id="tag_container">
</div>