<%= form_for @course ,:html =>{:id => "courseForm"}, :remote => true do |f| %>
  <div class="form_row">
    <label class="required">名称：</label>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="form_row">
    <label class="required">所属类别：</label>
    <%= f.select :types, Course::TYPES.invert, {:prompt => "请选择类别"}, {:required => true}  %>
  </div>
  <div class="form_row">
    <label class="required">出版社：</label>
    <%= f.text_field :press, :required => true %>
  </div>
  <div class="form_row">
    <label class="required">描述：</label>
    <%= f.text_area :description, :required => true, :rows => "5"%>
  </div>
  <div class="form_row">
    <label class="<%= @course.new_record? ? "required" :"" %>">图片：</label>
    <div class="fileBox" style="width:250px;">
      <input type="text" name="temp_input" class="fileText_1" />
      <input type="button" class="fileBtn_1 green_btn" value="浏览..." />
      <% if(@course.new_record?) %>
        <%= f.file_field :img, :required => true, :class => "file_1" %>
      <% else %>
        <%= f.file_field :img, :class => "file_1"%>
      <% end %>
    </div>
  </div>

  <h2>设置关卡基础值</h2>
  <div class="form_row">
    <label class="required">关卡总分：</label>
    <%= f.text_field :max_score, :required => true, :digits => true %>
  </div>
  <div class="form_row">
    <label class="required">血量：</label>
    <%= f.text_field :blood, :required => true, :digits => true%>
  </div>
  <div class="form_row">
    <label class="required">规定时间：</label>
    <%= f.text_field :round_time, :required => true, :digits => true %>
  </div>
  <div class="form_row">
    <label class="required">时间比例：</label>
    <%= f.text_field :time_ratio, :required => true,:digits => true, :min => 0, :max => 100 %>
  </div>
  <div class="form_row">
    <label>&nbsp;</label><%= button_tag "提交",:type => "submit", class: "green_btn" %>
    </div>

  <% end %>
  <script>
    $(document).ready(function(){
      
      $(".file_1").change(function(){
        $(this).parents(".fileBox").find(".fileText_1").val($(this).val());
      });
      
      $('label.required').append('&nbsp;<strong>*</strong>&nbsp;');
        
      $("#courseForm").validate();  //课程表单验证
    })
  </script>