<div class="wrap">
  <%= render "/shared/head" %>
  <div class="main">
    <h1>课程中心</h1>
    <div class="set_btn cf"><%= link_to "添加课程", new_course_path, :remote => "true", :class =>"green_btn" %></div>
    <div class="m_con">

      <% @courses.each do |course|%>
        <div class="obj_box con_box cf">
          <%= link_to "删除", course, :method => :delete, :confirm => '删除课程将删除课程所有相关记录，确定删除吗？',:class=>"close", :title => "删除" %>

          <div class="imgText">
            <% if course.img.blank? %>
              <%= image_tag "/assets/default.jpg", :class => "leftImg", :style =>"width:80px;height:123px" %>
            <% else %>
              <%= image_tag course.img.thumb.url, :class => "leftImg", :style =>"width:80px;height:123px" %>
            <% end %>
            <div class="rightText">
              <dl>
                <dt>课程名：</dt><dd title="<%= course.name %>"><%= course.name.truncate(8, separator: ' ') %></dd>
                <dt>出版社：</dt><dd title="<%= course.press %>"><%= course.press.truncate(10, separator: ' ') %></dd>
                <dt>课程类别：</dt><dd><%= Course::TYPES[course.types] %></dd>
                <dt>描述：</dt><dd title="<%= course.description %>"><%= course.description.truncate(25, separator: ' ') %></dd>
              </dl>
            </div>
          </div>
          <div>
            <div class="action">是否通过审核：<span><%= Course::STATUS_NAME[course.status] %></span>
              <%= verify_button(course) if course.status==0 %>
            </div>
            <div class="action">
              <%= link_to "编辑", edit_course_path(course.id),:remote => "true", :class => "grey_btn" %>
              <%= link_to "进入课程", course_chapters_path(course.id), :class => "green_btn" %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<div class="second_bg"></div>
<div class="second_box">
  <div style="display: none;"  class="second_content" >
    <span class="close">关闭</span>
    <div class="second_view" id="course_container">
    </div>
  </div>
</div>