<%= link_to "添加课程", new_course_path, :remote => "true" %>
<ul>

<% @courses.each do |course|%>
  <li>
    <%= image_tag course.img.thumb.url %>
  课程名： <%= course.name%>
  课程类别： <%= course.types%>
  出版社： <%= course.press%>
  课程描述： <%= course.description%>
  课程图片： <%#= course.name%>
  关卡总分： <%= course.max_score%>
  关卡血量： <%= course.blood%>
  规定时间： <%= course.round_time%>
  时间正确率比例： <%= course.time_ratio%>
  <%= link_to "编辑", edit_course_path(course.id),:remote => "true" %>
  <%= verify_button(course) %>
  <%= link_to "进入课程", course_chapters_path(course.id) %>
  <%= link_to "删除", course, :method => :delete, :confirm => '删除课程将删除所有课程相关记录，确定删除吗？' %>
  </li>
<% end%>

</ul>

<div style="display: none" id="new_course">
  新建
</div>

<div style="display: none" id="edit_course">
  编辑
</div>