<div class="wrap">
  <%= render "/shared/head" %>
  <div class="main">
    <h1><%= link_to @course.name, course_chapters_path(@course.id) %>> 标签、道具、章节</h1>
    <%= render "/shared/course_head" %>
    <div class="clear"></div>
    <div class="set_btn cf"><%= link_to "添加章节", new_course_chapter_path(@course), :remote => "true", :class =>"green_btn" %></div>

    <div class="clear"></div>
    <div class="m_con">
      <% @chapters.each do |chapter| %>

        <div class="cpt_box con_box cf">
          <%= link_to "删除", course_chapter_path(@course, chapter), :method => :delete, :confirm => '删除章节将删除章节所有相关记录，确定删除吗？', :class => "close", :title => "删除" %>

          <div class="imgText">
            <%= image_tag chapter.img.thumb.url, :class => "leftImg", :style =>"width:80px;height:123px" %>
            <div class="rightText">
              <span class="cpt_title" title="<%= chapter.name %>"><%= chapter.name.truncate(8, separator: ' ') %></span>
              <span style="margin-left:30px">关卡数目：<%= chapter.rounds_count || 0  %></span>
            </div>
          </div>
          <div>
            <div class="action">
              是否通过审核：<span><%= Constant::VERIFY_STATUS_NAME[chapter.status] %></span>
              <%= verify_button(chapter) if chapter.status==0 %>
            </div>
            <br/>
            <div class="action">
              <%= link_to "编辑", edit_course_chapter_path(@course, chapter),:remote => "true", :class => "chapterInfo grey_btn" %>
              <%= link_to "进入章节", course_chapter_rounds_path(@course, chapter), :class => "chapterEnter green_btn" %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
    <div class="clear"></div>
    <%= will_paginate @chapters, :previous_label => "上一页",:next_label => "下一页" %>
  </div>
</div>


<div class="second_bg"></div>
<div class="second_box">
  <div style="display: none" class="second_content">
    <span class="close">关闭</span>
    <div class="second_view" id="chapter_container">
    </div>
  </div>
</div>
