<!DOCTYPE html>
<html>
<head>
  <title>QxgManage</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "/shared/login" %>
  <div style="color:green"><%= flash[:notice] %></div>
<%= yield %>

</body>
</html>
