<!DOCTYPE html>
<html>
  <head>
    <title>QxgManage</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%= render "/shared/head" %>
      <div style="color:green"><%= flash[:notice] %></div>
      <div class="main">
        <%= yield %>
      </div>
    </div>
    <div class="foot"></div>
  </body>
</html>
